{% extends 'base.html.twig' %}

{% block title %}Pulse {{ category.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="cathead">
            <h1>{{ category.title }}</h1>
            <button class="create_post"><i class="fa-solid fa-plus"></i> Creér un post</button>
            <button class="join">Rejoindre</button>
        </div>
        {% if posts is not empty %}
            {% for post in posts %}
                <div class="post">
                    <div class="info">
                        <p><a href="#" class="author">{{ post.author.getPseudo() }}</a></p>
                        <p>Le {{ post.createdAt|date('d/m/Y') }}</p>
                        <p class="views">Vues: {{ post.nbView }}</p>
                    </div>
                    {# <a href="{{ path('post_show', { 'id': post.id }) }}"><h1>{{ post.title }}</h1></a> #}
                    <a href="#"><h2>{{ post.title }}</h2></a>
                    {# <a href="{{ path('post_show', { 'id': post.id }) }}"><h1>{{ post.description }}</h1></a> #}
                    <h3>{{ post.description|split(' ')|slice(0, 10)|join(' ') ~ ' ... ' }}</h3>
                    {# <p>Par: <a href="{{ path('user_show', { 'id': post.author.id }) }}">{{ post.author.getPseudo() }}</a></p> #}

                    <div class="action-buttons">
                        <div class="vote">
                            <button class="vote-button"><i class="fa-solid fa-thumbs-up"></i></button>
                            <p> {{ post.votes|length }} </p>
                            <button class="vote-button"><i class="fa-solid fa-thumbs-down"></i></button>
                        </div>
                        <button class="comments-button"><i class="fa-solid fa-comment"></i> {{ post.comments|length }} </button>
                        <button class="share-button"><i class="fa-solid fa-share"></i></button>
                    </div>

                    {% if post.updatedAt is defined %}
                        {# <p>Modifié le: {{ post.updatedAt|date('H:i:s') }} par {{ post.updatedBy }}</p> #}
                    {% else %}
                        <p>No post available.</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}