{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}

    <div class="post-container">
        <div class="post">
            <div class="title-container">
                <h3 class="category-title">{{ post.category.title }}</h3>
                <p class="created-at">{{ post.createdAt|date('d-m-Y') }}</p>
            </div>
            <p class="author-pseudo">{{ post.author.getPseudo }}</p>
            <h1 class="post-title">{{ post.title }}</h1>
            <h2 class="post-description">{{ post.description }}</h2>
            <p class="nb-view">Vues: {{ post.nbView }}</p>
            <div class="post-action-buttons">
                <div class="vote">
                    <button class="vote-button"><i class="fa-solid fa-thumbs-up"></i></button>
                    <p> {{ post.votes|length }} </p>
                    <button class="vote-button"><i class="fa-solid fa-thumbs-down"></i></button>
                </div>
                <button class="comments-button"><i class="fa-solid fa-comment"></i> {{ post.comments|length }} </button>
                <button class="share-button"><i class="fa-solid fa-share-nodes"></i> Partager</button>
            </div>
        </div>
        <div class="answer">
            <h2>Commentaires</h2>
            <div class="comment-form">
                {# <form action="{{ path('app_comment_create', { 'id': post.id }) }}" method="post"> #}
                    <textarea name="comment" id="comment" cols="30" rows="2"></textarea>
                    <button type="submit">Commenter</button>
                </form>
            </div>

            {% macro renderComment(comment, depth = 0, post) %}
            
                <div class="{{ comment.parentComment is not null ? 'child-comment' : 'parent-comment' }}">
                    <div class="comment-info" style="margin-left: {{ depth * 20 }}px;">
                        {{ comment.content }}
                        <p><a href="#">{{ comment.author.getPseudo() }}</a></p>
                        <p>{{ comment.createdAt|date('d-m-Y') }}</p>
                        <div class="post-action-buttons">
                            <div class="vote">
                            {% set post = comment  %}
                                <button class="vote-button"><i class="fa-solid fa-thumbs-up"></i></button>
                                <p> {{ post.votes|length }} </p>
                                <button class="vote-button"><i class="fa-solid fa-thumbs-down"></i></button>
                            </div>
                            <button class="answer"><i class="fa-solid fa-reply"></i> Répondre</button>
                            <button class="report"><i class="fa-solid fa-flag"></i> Signaler</button>
                        </div>
                    </div>
                    {% if comment.childComments is not empty %}
                        <div class="nested-comments">
                            {% for childComment in comment.childComments %}
                                {{ _self.renderComment(childComment, depth + 1, post) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endmacro %}

            <div class="comments">
                {% for comment in post.comments %}
                    {% if comment.parentComment is null %}
                        {{ _self.renderComment(comment) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

